# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Project Specific
config.json
history.json
pending.json
.env

# OS
.DS_Store
Thumbs.db

# IDEs and Workspaces
.vscode/
.idea/
*.code-workspace
